{
  "presets": ["next/babel"],
  "plugins": [
    "@emotion",
    [
      "import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "@mui/material"
    ],
    [
      "import",
      {
        "libraryName": "@mui/lab",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "@mui/lab"
    ]
  ]
}
